@import '../../styles/variables.scss';

.events-container {
    width: 1000px;
    margin: 80px auto;
    border: 1px solid $gray-color;
    border-radius: 10px;

    .events-header {
        height: 90px;
        padding: 10px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: $secondary-color;
        color: $off-white;
        
        .search-bar {
            display: flex;
        }
    }

    .events-list {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .event-card {
            height: 250px;

            .event-title {
                background-color: #e2e2e2;
                color: $off-white;
            }

            button.link {
                background-color: $teritary-color;
                color: $off-white;
            }

            .ui.card:first-child {
                margin-top: 1em;
            }

        }
    }
}