@import '../../styles/variables.scss';

.footer-container {
    width: 100%;
    height: 200px;
    background-color: $primary-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid $gray-color;
    border-bottom: 2px solid $gray-color;

    .footer-bar {
        width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }

    .footer-nav {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .footer-social {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }

    a {
        color: $gray-color;
        padding: 20px 10px;
        font-size: 14px;

        &:hover {
            color: $off-white;
        }
    }
}