// Color Schemes
$primary-color: #1E80AA;
$secondary-color: #082A47;
$teritary-color: #632A50;
$gray-color: #4D545D;
$off-white: #FBFBFB;
$off-black: #020207;

// Font Types
$primary-font: 'Vollkorn SC';
$secondary-font: 'Montessarat';
$base-font: 'Pragati Narrow';